PORT=10000

JWT_SECRET=your_jwt_secret

DATABASE_URL=your_supabase_database_url

DISCORD_APPLICATION_ID=your_application_id

DISCORD_PUBLIC_KEY=your_public_key

DISCORD_BOT_TOKEN=your_bot_token

DISCORD_WEBHOOK_URL=your_discord_webhook_url